html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
}

.transparent {
    opacity: 0.85;
}

/* --------------------------------------------------
Overrides bootstrap style
-------------------------------------------------- */

.navbar-brand.title {
    font-size: 1em;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar-header {
    padding: 0 20px 0 2px;
}

.box {
    width: 50px;
    border-left: 1px #909090 solid;
    border-right: 1px #909090 solid;
}

ul.nav, ul.navbar-nav {
    float: right;
}

#map {
    border: 1px;
    background-color: white;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
}

/* --------------------------------------------------
Sticky footer styles
-------------------------------------------------- */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    color: #9d9d9d;
    font-size: 0.9em;
}

footer .center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 15px;
}

footer a {
    color: #9d9d9d;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

footer .custom-mouse-position {
    font-size: 0.9em;
}

footer p {
    margin-bottom: 0;
}

footer .dropup .dropdown-menu {
    margin-bottom: 10px;
    border-radius: 2px;
    margin-left: 2px;
    color: white;
    font-size: 0.9em;
}

footer .dropdown-toggle {
    cursor: pointer;
    font-size: 0.9em;
}

footer .dropup .dropdown-menu a {
    color: #9d9d9d;
}

footer .dropdown-menu a {
    color: #ffffff;
}

footer span.caret {
    margin-left: 10px;
}

/* --------------------------------------------------
Overrides ol3 buttons controls position
-------------------------------------------------- */
.ol-zoom, .ol-rotate, .ol-zoom-extent {
    right: .5em;
    left: inherit;
}