<footer class="footer">
    <div class="container">

        <a class="navbar-brand" href="#">Observatoire des Risques Côtiers</a>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li></li>
                <li><span>x : </span></li>
                <li><span>y : </span></li>
            </ul>
        </div>


    </div>
</footer>